In [1]:
import pandas as pd
from docx import Document

In [6]:
df = pd.read_excel('Specialized_questions.xlsx')

In [7]:
df

,Row,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10
0,1,"1,4,5,2,3","1,3,2","1,3,2","4,2,1,3,5","2,4,5,1,3","3,1,5,2,4,6","5,1,4,2,6,3,7","1,3,2,4","2,4,1,3","1,3,5,2,4,6"
1,2,"2,1,3,4,5","2,1,3","1,2,3","3,2,5,1,4","2,4,5,1,3","1,2,4,5,6,3","4,1,2,3,5,6,7","1,2,4,3","2,1,4,3","1,4,3,2,5,6"
2,3,2,1,1,4,1,1,3,1,1,1
3,4,"4, 1, 5, 2, 3","1,3,2","4,2,1,3","1,23,4,5","4,2,5,1,3","1,5,2,4,6,3","3,6,1,5,2,7,4","3,1,4,2","3,4,1,5,2","3,1,5,4,6,2"
4,5,"4,5,3,1,2","3,1,2","2,1,3","3,2,1,4,5","3,5,1,4,2","2,1,5,4,3,6","2,5,1,4,3,6,7","2,3,1,4","3,4,2,1","4,2,5,1,6,3"
5,6,"4, 1, 5, 2, 3","1,3,2","4,2,1,3","1,23,4,5","4,2,5,1,3","1,5,2,4,6,3","3,6,1,5,2,7,4","3,1,4,2","3,4,1,5,2","3,1,5,4,6,2"
6,7,2,3,3,"5,2",5,3,3,1,1,1
7,8,1,3,1,2,2,2,4,4,1,2
8,9,"1,3","3,2","1,2,3","2,4","1,2,5","2,6","3,4,5,7",1,"1,2,3","3,4"
9,10,1,3,1,2,2,2,4,4,1,2
10,11,"4,2,1,3,5","3,1,2","1,3,2","2,1,5,3,4","5,1,4,2,3","6,1,2,5,3,4","7,6,5,1,2,3,4","1,3,4,2","1,2,4,3","1,3,4,5,6,2"
11,12,"4,1,3,2","1,3,2","2,1,3","2,1,4,3","4,1,5,2,3","1,3,2","3,4,1,5,2","1,2,3","2,1,4,3","1,4,2,3,5"
12,13,"3,2,1,4,5","2,1,3","1,2,3","2,1,4,5,3","1,2,5,4,3","4,1,3,5,6,2","3,4,7,2,1,5,6","1,3,2,4","3,1,2,4","2,1,3,4,5,6"
13,14,"1,2,4,5,3,6","3,2,1,4","1,3,2,4","2,1,5,3,4,6","2,1,3,4,5,6","3,1,2,4,6,5,7","2,1,5,4,7,3,6,8","1,3,4,2,5","3,1,4,2,5","1,3,2,4,5,6,7"
14,15,"2,3,1,4,5","2,1,3","1,2,3","2,1,4,3,5","3,1,4,5,2","5,1,3,2,4,6","5,4,6,2,1,7,3","3,4,1,2","3,2,1,4","4,1,3,2,6,5"
15,16,"5,2,1,4,3","2,1,3","1,2,3","2,1,4,3","1,2,5,4,3","6,1,5,3,4,2","6,5,4,2,1,7,3","3,2,1,4","3,2,1,4","2,1,3,4,6,5"
16,17,"1,4,2,3,5","2,1,3","1,2,3","2,1,4,5,3","1,5,4,3,2","3,1,4,5,2,6","5,7,2,3,1,6,4","1,4,2,3","3,1,4,2","1,2,4,3,5,6"
17,18,"3,2,1,4,5","2,1,3","1,2,3","5,2,4,3,1","2,1,5,3,4","3,1,5,6,4,2","3,7,5,2,1,6,4","1,4,2,3","3,1,2,4","4,1,3,6,5,2"
18,19,"2,3,1,5,4,6","3,1,2","1,3,2","3,1,2,5,4","4,2,5,1,3","2,1,4,3,5,6","7,6,2,5,1,4,3","2,3,4,1","2,1,4,3","3,1,6,4,2,5"
19,20,"2,3,1,5,4,6","3,1,2","1,3,2","3,1,2,5,4","4,2,5,1,3","2,,1,4,3,5,6","5,4,1,2,3,6","2,3,1,4,","4,3,1,2","5,4,6,3,1,2"
20,21,"4,3",6,"6,2,1,3",0,0,NaN,NaN,NaN,NaN,NaN
21,22,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,"4,5,6",3,NaN,NaN,NaN,"3,2,5,6","3,6",4,NaN,NaN
23,24,5,2,2,"5,4",NaN,"5,6","5,6,",0,0,0
24,25,2,3,1,5,3,3,6,2,4,5
25,26,3,3,1,2,2,2,4,4,1,2
26,27,3,3,1,5,4,3,6,2,4,5
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
file_path = 'Specialized_questions.xlsx'
df = pd.read_excel(file_path)

# تبدیل به فرمت Long Format با مدیریت داده‌های خالی
long_format_data = []

for index, row in df.iterrows():
    respondent_id = row['Row']  # ستون شناسه پاسخ‌دهنده
    for col in df.columns[1:]:  # از ستون B1 به بعد
        ranks = str(row[col]).split(',')  # جداسازی بر اساس کاما
        for rank, option in enumerate(ranks, start=1):
            option = option.strip()  # حذف فاصله‌های اضافی
            if option.isdigit():  # بررسی اینکه مقدار عددی است یا نه
                long_format_data.append({
                    "شناسه": respondent_id,
                    "سوال": col,
                    "گزینه": int(option),
                    "رتبه": rank
                })

# تبدیل به دیتافریم
long_df = pd.DataFrame(long_format_data)

# ذخیره در فایل اکسل جدید
long_df.to_excel("long_format_dataset.xlsx", index=False)

print("دیتاست با موفقیت ایجاد شد!")

دیتاست با موفقیت ایجاد شد!