In [1]:
import pandas as pd

In [8]:
# read excel files
df_universal = pd.read_excel(r'C:\Users\nouri\Desktop\FIFA1\tpiced_1.xlsx' , sheet_name='Sheet3')
df2_must_be_filled = pd.read_excel(r'C:\Users\nouri\Desktop\FIFA1\tpiced_1.xlsx' , sheet_name='Sheet7')

In [9]:
df_universal

,A,B,C,D,E,Unnamed: 5
0,NaN,Question,Option,Topic,NaN,NaN
1,0.0,A1. Gender?,Female,Peace,A101,A101Female
2,1.0,A1. Gender?,Male,Peace,A101,A101Male
3,2.0,A2. Primary language? (If there are multiple l...,NaN,Peace,A102,A102
4,3.0,A3. In what year were you born?,NaN,Women's Football,A103,A103
...,...,...,...,...,...,...
117,116.0,B10. What recommendations do you have for prom...,Encouraging women to participate in major spor...,Women's Participation,NaN,Encouraging women to participate in major spor...
118,117.0,B10. What recommendations do you have for prom...,Creating a safe and inclusive environment for ...,Women's Football,NaN,Creating a safe and inclusive environment for ...
119,118.0,B10. What recommendations do you have for prom...,Empowering women to be leaders in sports,Women's Empowerment,NaN,Empowering women to be leaders in sports
120,119.0,B10. What recommendations do you have for prom...,Using sports to promote positive messages abou...,Improving Attitudes,NaN,Using sports to promote positive messages abou...
121,120.0,B10. What recommendations do you have for prom...,NaN,NaN,NaN,NaN

In [14]:
df_universal['E'] = df_universal['E'].astype(str)
df_universal['C'] = df_universal['C'].astype(str)
df2_must_be_filled['ID_Questions'] = df2_must_be_filled['ID_Questions'].astype(str)
df2_must_be_filled['Option'] = df2_must_be_filled['Option'].astype(str)

In [15]:
# ادغام داده‌ها بر اساس ستون‌های متفاوت
merged = pd.merge(
    df2_must_be_filled,
    df_universal,
    left_on=['ID_Questions', 'Option'],  # نام ستون‌های فایل دوم
    right_on=['E', 'C'],          # نام ستون‌های فایل اول
    how='left'
)
df2_must_be_filled['Topic'] = merged['D']

In [17]:
df2_must_be_filled['Topic']

0                    Peace
1                      NaN
2                      NaN
3                      NaN
4      Women's Empowerment
              ...
913                    NaN
914                    NaN
915                    NaN
916                    NaN
917                    NaN
Name: Topic, Length: 918, dtype: object

In [18]:
df2_must_be_filled.to_excel('be.xlsx')

In [ ]:
import pandas as pd

# خواندن فایل‌های اکسل
file1 = 'file1.xlsx'  # فایل اول (شامل ستون color)
file2 = 'file2.xlsx'  # فایل دوم (ستون color خالی)

# داده‌های فایل اول و دوم را بارگذاری کنید
df1 = pd.read_excel(file1)  # ستون‌های: name, number, color
df2 = pd.read_excel(file2)  # ستون‌های: Name_ID, Number_Value, color (خالی)

# ادغام داده‌ها بر اساس ستون‌های متفاوت
merged = pd.merge(
    df2,
    df1,
    left_on=['Name_ID', 'Number_Value'],  # نام ستون‌های فایل دوم
    right_on=['name', 'number'],          # نام ستون‌های فایل اول
    how='left'
)

# به‌روزرسانی ستون color فایل دوم
df2['color'] = merged['color']

# ذخیره فایل جدید
df2.to_excel('updated_file2.xlsx', index=False)

print("ستون color فایل دوم تکمیل شد و خروجی در 'updated_file2.xlsx' ذخیره شد.")